<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.masum.pdf_view">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:supportsRtl="true">
        <activity android:name=".AppinionPdfActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".AppinionPdfViewActivity"
  />
    </application>

</manifest>